body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 60px 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-family: segoe ui;
}

.form-field {
    margin-bottom: 15px;
    text-align: left;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
font-family: segoe ui;
}

.form-field input[type="text"],
.form-field input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-field input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ae00ff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: segoe ui;
    margin-top: 30px;
}

.form-field input[type="submit"]:hover {
    background-color: #010a85;
}
